body {
    font-family: Arial, sans-serif;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #282828;
    width: 100%;
    height: 100%;
    --color: rgba(114, 114, 114, 0.3);
    background-color: #191a1a;
    background-image: linear-gradient(0deg, transparent 24%, var(--color) 25%, var(--color) 26%, transparent 27%,transparent 74%, var(--color) 75%, var(--color) 76%, transparent 77%,transparent),
        linear-gradient(90deg, transparent 24%, var(--color) 25%, var(--color) 26%, transparent 27%,transparent 74%, var(--color) 75%, var(--color) 76%, transparent 77%,transparent);
    background-size: 55px 55px;
}

.container {
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 100%;
    max-width: 500px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 100px;
    background-color: #191a1a;
    background-image: linear-gradient(0deg, transparent 24%, var(--color) 25%, var(--color) 26%, transparent 27%,transparent 74%, var(--color) 75%, var(--color) 76%, transparent 77%,transparent),
        linear-gradient(90deg, transparent 24%, var(--color) 25%, var(--color) 26%, transparent 27%,transparent 74%, var(--color) 75%, var(--color) 76%, transparent 77%,transparent);
    background-size: 55px 55px;
}

h1 {
    margin-bottom: 20px;
    color: #ffffff;
}

.buttons {
    display: flex;
    flex-direction: column;
}

.button {
    background-color: #e84118;
    color: white;
    padding: 15px;
    margin: 10px 0;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.button:hover {
    background-color: #d63d17;
}



.show-all-button {
    background-color: #e84118;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}



.logo {
    width: 250px;
    height: auto;
    margin-top: 30px;
    border-radius: 50%;
    text-align: center;
    align-items: center;
}

header h1 {
    margin: 10px 0;
    font-size: 24px;
    color: #e84118;
}



.review-link {
    display: inline-block;
    margin-top: 10px;
    color: #ffffff;
    text-decoration: none;
    font-size: 16px;
    align-items: center;
    text-align: center;
}

.review-link:hover {
    text-decoration: underline;
}

h2 {
    color: #fff;
}





#uploadForm {
    margin-bottom: 20px;
}

#imageUpload {
    margin-right: 10px;
}


/* Add styles for authentication and upload sections */
#authSection, #uploadSection {
    margin: 20px 0;
    text-align: center;
}

#authSection input, #uploadSection input {
    margin: 10px 0;
    padding: 10px;
    width: 100%;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: auto;
    max-width: 500px;
    font-size: 12px;
}

#authSection button, #uploadSection button {
    margin: 10px 0;
    padding: 10px;
    width: 100%;
    background-color: #e84118;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    
}

#authSection button:hover, #uploadSection button:hover {
    background-color: #e84118;
}

/* Common styles for the Delete button */
.delete-button {
    background-color: #e84118;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.delete-button:hover {
    background-color: #c23616;
}

/* Specific styles for the Admin Gallery section */
#adminGallerySection .delete-button {
    margin-top: 10px;
    display: block;
    text-align: center;
}

#gallerySection .delete-button {
    margin-top: 10px;
    display: block;
    text-align: center;
}




.gallery {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

.gallery img {
    width: 100%;
    max-width: 500px;
    height: auto;
    border-radius: 5px;
    object-fit: cover;
    transition: transform 0.3s ease;
}

footer {
    background-color: #e84218ea;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
    z-index: 2;
    border-radius: 5px 5px 0px 0px;
}